.margin-0{
  margin: 0px;
}
.hidden{
  display: none;
}
ion-card{
  // background: #7c7c7c;
  ion-card-header{
    ion-card-title{
      border-bottom: 1px solid #bbb5b5;
      padding-bottom: 10px;
    }
  }
  ion-card-content{
    ion-row{
      ion-col{
        padding-left: 0px;
      }
    }
  }
}