<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/cart']" routerLinkActive="router-link-active">
        <ion-icon *ngIf="cart.hasCartItems; else noCartItemBlock" name="bag-check-outline" class="has-cart-items cart-icon"></ion-icon>
        <ng-template #noCartItemBlock>
          <ion-icon name="bag-outline" class="no-cart-items cart-icon"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="products.length == 0 && loading != ''">
    <h3 style="text-align: center; margin-top: 50px;" *ngIf="loading != ''; else showErrorMessageBlock">{{loading}}</h3>
    <ng-template #showErrorMessageBlock>
      <h3 style="text-align: center; margin-top: 50px;">No Products</h3>
    </ng-template>
  </div>
  <div *ngIf="products.length && loading == ''">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor = "let product of products" size="12" class="product-container">
          <ion-card [routerLink]="['/product', product.id]" routerLinkActive="router-link-active" >
            <ion-card-header>
              <img *ngIf = "product.images.length; else noImageBlock" src="{{product.images[0].src}}" class="product-image">
              <ng-template #noImageBlock>
                <img src="/assets/no-image-found.png" class="product-image">
              </ng-template>
              <ion-card-title class="product-title">{{product.name}}</ion-card-title>
              <p [innerHTML] = "product.price_html | formatMoney" class="product-price-container"></p>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
