<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cart.length && loading == ''; else noProductsBlock" class="cart-items-container">
    <h3 class="cart-header">Cart items</h3>
    <ion-card *ngFor="let data of cart" class="cart-items">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="cart-product-image-container ion-align-self-center">
            <img class="product-image" src="{{data.product.images[0].src}}" *ngIf="data.product.images.length; else noAvatarImageBlock">
            <ng-template #noAvatarImageBlock>
              <img src="/assets/no-image-found.png" class="product-image">
            </ng-template>
          </ion-col>
          <ion-col size="8" class="cart-items-description">
            <h6 class="product-title">{{data.product.name}}</h6>
            <ion-card-subtitle [innerHTML] = "data.product.price_html | formatMoney" class="product-price"></ion-card-subtitle>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-buttons class="ion-justify-content-between">
                    <span style="display: flex;">
                      <ion-button (click)="decreaseQuantity(data.product.id)"><ion-icon name="remove-outline"></ion-icon></ion-button>
                      <ion-input class="ion-text-center cart-item-input-quantity-box" type="number" value="{{data.quantity}}" size="small" disabled (change)="setQuantity($event, data.product.id)"></ion-input>
                      <ion-button (click)="increaseQuantity(data.product.id)"><ion-icon name="add-outline"></ion-icon></ion-button>
                    </span>
                    <ion-button (click)="removeCartItem(data.id)" size="small"><ion-icon name="trash-outline"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card>
      <div>
        <ion-card-header style="display: flex; justify-content: space-between;">
          <ion-card-title>Subtotal</ion-card-title>
          <ion-card-title><span [innerHTML] = "cart[0].product.price_html | currency"></span> {{subtotal}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button class="checkout-btn ion-float-end ion-margin-bottom" [routerLink]="['/checkout']" routerLinkActive="router-link-active" >Checkout</ion-button>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
  <ng-template #noProductsBlock>
    <h3 style="text-align: center;" *ngIf="loading == ''">Cart empty</h3>
    <h3 style="text-align: center;" *ngIf="loading != ''">{{loading}}</h3>
  </ng-template>
</ion-content>
